body {
    margin:0px;
    padding:0px;
    width:100%;
    background-color: #ebeaeb;
    font-size: 1.1rem;
    font-weight: 100;
}

p {
    color: #6d7171;
    margin-top: 0;
    margin-bottom: 0rem;
}

.bg {
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.description, .dragArea {
    padding: 1.05rem;
}

.dragArea {
    margin-top: 50px;
}

.head-title {
    background-color: #71c7b0;
    color: #ffffff;
    text-align: center;
    height: 79px;
    margin-top: 1rem;
    padding-top: 0.5rem;
    font-size: 1.2rem;
    font-weight: 400;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 15px;
    right: 15px;
}

.h1, h1 {
    color: #6d7171;
    font-weight: 100;
    padding-top: 5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1.7rem;
    text-align: center;
    font-size: 1.8rem;
}

.fa-plus {
    color: #f04e2e;
    padding-left: 0.2rem;
}

.fa-align-center {
    right: 25px;
    position: absolute;
    top: 35%;
}

ul.list-group {
    padding: 4px;
    max-height: 55px;
    margin-top: 5px;
}

.list-group-item {
    border: 1px solid #aaa6a7;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 -1px 10px 0 rgba(0, 0, 0, 0.19);
}

.list-group-item:active {
    transform: scale(1.1,1.1);
}

.request {
    padding-top: 5%;
    padding-bottom: 10%;
    text-align: center;
    font-size: 11px;
}

.btn {
    font-size: 1.2rem;
}

.btn-rnd {
    padding: 0.375rem 2.75rem;
    border-radius: 1.75rem;
}

.btn-success {
    background-color: #70c7b0;
    border-color: #70c7b0;
}

/* .save.text-center {
    padding-bottom: 30%;
} */

.bottom-description {
    padding-bottom: 30%;
    padding-top: 8%;
    text-align: center;
}

.bottom-description > p {
    font-size: 0.9rem;
    font-style: italic;
    opacity: 0.6;
}

.json {
    padding: 2%;
    font-size: 12px;
}

.nav div {
    height: 2px;
    background-color: #6d7171;
    margin: 3px 0;
    border-radius: 25px;
    transition: 0.3s;
}
.nav {
    width: 30px;
    display: block;
    right: 25px;
    position: absolute;
    top: 1.2rem;
    
}
.one {
    width: 18px;
}
.two {
    width: 30px;
}
.three {
    width: 18px;
}

.nav:hover div {
    width: 30px;
}