body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color: #ebeaeb;
  font-size: 1.1rem;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
}

p {
  color: #6d7171;
  margin-top: 0;
  margin-bottom: 0rem;
  font-family: 'Roboto', sans-serif;
  font-size: smaller;
  line-height: 1.8rem;
}

.text-right {
  display: initial;
  font-size: small;
  padding-left: 10%;
  top: 71%;
  position: absolute;
}

.text-right-moved {
  display: initial;
  font-size: small;
  padding-left: 9%;
  top: 71%;
  position: absolute;
}


/* .list-group-item > p {
  padding-left: 3%;
} */

p.text-fixed {
  padding-left: 8%;
}

.bg {
  background-color: #ffffff;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.description {
  padding: 20px 25px;
}

.dragArea {
  padding: 1.05rem;
}

.dragArea {
  margin-top: 50px;
}

.head-title {
  background-color: #4be9be;
  color: #ffffff;
  text-align: center;
  height: 79px;
  margin-top: 1rem;
  padding-top: 1.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 15px;
  right: 15px;
}

.h1,
h1 {
  color: #6d7171;
  font-weight: 100;
  padding-top: 5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  text-align: center;
  font-size: 1.8rem;
}

.fa-plus {
  color: #f04e2e;
  padding-left: 0.2rem;
}

.fa-trash-o {
  color: #f04e2e;
  display: inline;
  position: relative;
  font-size: 24px;
  right: 20%;
}

img.trash {
  padding-left: -17%;
  top: 71%;
  position: absolute;
  left: 43%;
}

.list-group-item > .fa-pencil {
  color: #f04e2e;
  font-size: smaller;
  position: absolute;
  left: 6%;
  top: 35%;
  display: block;
}

/* .list-group-item:hover > .fa-pencil {
  display: block;
} */

.fa-align-center {
  right: 25px;
  position: absolute;
  top: 35%;
}

ul.list-group {
  padding: 4px;
  max-height: 55px;
  margin-top: 5px;
}

.list-group-item {
  border: 1px solid #aaa6a7;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 -1px 10px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 -1px 10px 0 rgba(0, 0, 0, 0.19);
}

.list-group-item:active {
  -webkit-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  border-color: #4ce9be;
}

.colored {
  border: 1px solid #f6a585;
}

.request {
  padding-top: 5%;
  padding-bottom: 10%;
  text-align: center;
}

.btn-link {
  color: #aaa6a7;
  font-size: 11px !important;
}

.btn {
  font-size: 1.2rem;
}

.btn-rnd {
  padding: 0.375rem 2.75rem;
  border-radius: 1.75rem;
}

.btn-success {
  background-color: #4be9be;
  border-color: #4be9be;
}

.btn-success.disabled, .btn-success:disabled {
  background-color: #4be9be;
  border-color: #4be9be;
}

/* .save.text-center {
    padding-bottom: 30%;
} */

.bottom-description {
  padding-bottom: 30%;
  padding-top: 8%;
  text-align: center;
}

.bottom-description > p {
  font-size: 0.9rem;
  font-style: italic;
  opacity: 0.6;
}

.json {
  padding: 2%;
  font-size: 12px;
}

.nav div {
  height: 2px;
  background-color: #6d7171;
  margin: 3px 0;
  border-radius: 25px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.nav {
  width: 30px;
  display: block;
  right: 25px;
  position: absolute;
  top: 1.2rem;
}
.one {
  width: 18px;
}
.two {
  width: 30px;
}
.three {
  width: 18px;
}

.nav:hover div {
  width: 30px;
}

/***********MODAL**********/

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: bottom;
  padding: 245px;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 0px 20px;
  background-color: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-header {
  padding: 0;
}

.modal-body {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

.modal-default-button {
  float: right;
}

.modal-footer > div > .btn-success {
  margin-right: 35px;
  text-align: center !important;
}

.modal-footer {
  border-top: none;
}

.modal {
  position:fixed;
  top:auto;
  right:auto;
  left:auto;
  bottom:0;
  
}

/*
   * The following styles are auto-applied to elements with
   * transition="modal" when their visibility is toggled
   * by Vue.js.
   *
   * You can easily play with the modal transition by editing
   * these styles.
   */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
      transform: scale(1.1);
}

button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: 0.2;
}

.modal-header .close {
  padding: 0;
  margin: 0;
  left: 50%;
  position: relative;
}
.form-control {
  border: none;
  padding: 0;
}

/* input.form-control {
  padding-top: 1rem;
} */

input.transparent-input,
textarea.transparent-input {
  border: none !important;
}

.transparent-input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

input.transparent-input,
textarea.transparent-input {
  background-color: rgba(0, 0, 0, 0) !important;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.list-group-item:hover + span + i,
.list-group-item + span:hover + i,
.list-group-item + span + i:hover {
  visibility: visible;
}

.list-group-item + span + i {
  visibility: hidden;
}

.col {
  width: 125% !important;
  max-width: 125% !important;
  padding: 0;
}