<html>

<head>
    <title>Homework</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div id="main">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="bg">
                        <h1>Your Needs Matter</h1>
                        <div class="drag">
                            <div class="description">
                                <p>You should succeed whenever you use SNIP. Below are the up-and-coming features we want to
                                    include in the future updates to the app. By ordering these features from most-to-last
                                    important, you can help steer the direction of SNIP's ongoing development.</p>
                            </div>
                            <div class="head-title">Most Important</div>
                            <draggable class="dragArea" :list="list" :options="{group:'people', handle:'.nav', animation:150}" @change="log">
                                <div v-for="element in list">
                                    <ul class="list-group">
                                        <li class="list-group-item" id="show-modal" v-on:click="showModal = true, edit(element)">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                            <p>{{element.name}}</p>
                                            <i class="nav">
                                                <div class="one"></div>
                                                <div class="two"></div>
                                                <div class="three"></div>
                                            </i>
                                        </li>
                                    </ul>
                                </div>
                            </draggable>
                        </div>
                        <div class="request">REQUEST A FEATURE
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </div>
                        <div class="save text-center">
                            <button type="button" class="btn-rnd btn btn-success">Save</button>
                        </div>
                        <div class="bottom-description">
                            <p>You can update your priorities at any time.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="json">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-5">
                        {{list | json}}
                    </div>
                </div>
            </div>
        </div>
        <modal v-if="showModal" @close="showModal = false">
            <h3 slot="header">
                <button type="button" class="close" @click="showModal = false">
                    <span>×</span>
                </button>
                <div class="col">
                    <input type="text" class="form-control" v-bind:placeholder="title">
                </div>
            </h3>
            <div class="modal-body" slot="body">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">{{ body }}</textarea>
            </div>
            <div slot="footer" @click="$emit('close')">
                <button type="button" class="btn-rnd btn btn-success" @click="showModal = false">Submit</button>

            </div>
        </modal>

    </div>
    <script type="text/x-template" id="modal-template">
        <transition name="modal">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-container">

                        <div class="modal-header">
                            <slot name="header">
                                default header
                            </slot>
                        </div>

                        <div class="modal-body">
                            <slot name="body">
                                default body
                            </slot>
                        </div>

                        <div class="modal-footer">
                            <slot name="footer">
                                default footer
                                <button class="modal-default-button" @click="$emit('close')">
                                    OK
                                </button>
                            </slot>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </script>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.min.js"></script>
    <script src="js/isMobileBrowser.js"></script>
    <script src="http://cdn.jsdelivr.net/npm/sortablejs@1.7.0/Sortable.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.16.0/vuedraggable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
    <!-- <script src="./js/modal.js"></script> -->
    <script type="text/javascript" src="js/data.json"></script>
    <!-- <script src="./js/modal.js"></script> -->
</body>

</html>